.dashBoard {
  width: 100%;
  & header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  & main {
    display: flex;
    & div {
      width: 80%;
    }
    & aside {
      width: 20%;
    }
  }
}
